/* 2020-04-07 15:47:07 */
#main {
  margin: auto;
  max-width: 50%;
}
#nav-bar {
  display: flex;
  flex-direction: row;
}
@media (max-width: 320px) {
  #main {
    margin: auto;
    max-width: 30%;
  }
}
